body {
    background-color: #212E53;
    color: white;
    text-align: center;
}

img {
    width: 1250px;
    height: 800px;
    border: none;
    vertical-align: middle;
}

.bg-box {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a{
    width:330px;
    height:240px;
    position: absolute;
    left: 400px;
    top: 120px;
}

.b{
    width:330px;
    height:240px;
    position: absolute;
    left: 760px;
    top: 120px;
}

.c{
    width:330px;
    height:240px;
    position: absolute;
    left: 1120px;
    top: 120px;
}

.d{
    width:330px;
    height:240px;
    position: absolute;
    left: 400px;
    top: 400px;
}

.e{
    width:330px;
    height:240px;
    position: absolute;
    left: 760px;
    top: 400px;
}

.f{
    width:330px;
    height:240px;
    position: absolute;
    left: 1120px;
    top: 400px;
}